body {
    padding-top: 90px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.navbar-static-top .nav {
    padding: 15px 0;
}

.navbar-static-top .navbar-brand {
    padding: 0 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-static-top .navbar-brand {
        padding: 15px 0;
    }
}

.navbar-default {
  background-color: #4caf50;
  border-color: #4cbb51;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #2e2d2f;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2e2d2f;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2e2d2f;
  background-color: #4cbb51;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #2e2d2f;
  background-color: #4cbb51;
}
.navbar-default .navbar-toggle {
  border-color: #4cbb51;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #4cbb51;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #2e2d2f;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #2e2d2f;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #2e2d2f;
    background-color: #4cbb51;
  }
}

.business-header {
    height: 500px;
    background: url('../images/banner.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: -40px;
}

.business{
    height: 250px;
    background: url('../images/banner.jpg') center center no-repeat scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: -40px;
}

.title{
    margin-top: 30px;
    margin-bottom: 25px;
    min-height: 32px;
    color: #FFFFFF;
}

.h7{
  color: #FFFFFF;
  font-size: 16px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.clr{
  color:  #81C784;
}

h1{
  font-size: 45px;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}

.full {
  background: url('../images/banner.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-login{
  /*background-color: #fff;*/
  background-color: rgba(52, 73, 94, 0.7);
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
  margin-top: 20px;
  margin: 0 auto;
  max-width: 330px;
    padding: 40px 40px;

}

.main{
  margin-top: 70px;
}

.search{
  width: 500px;
  height: 180px;
  text-align: center;
  background-color: rgba(52, 73, 94, 0.7);
  border-radius: 4px;
  margin: 0 auto;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.btnCool{
  padding: 15px 30px;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #2ECC71;
  border-bottom: 4px solid #27AE60;
}
